@{
    ViewBag.Title = "Error";
}

<h1>@ViewBag.Message</h1>
<p>@ViewBag.StackTrace</p>

<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto;">Click here to view details </a>